*/*/*/build-release/
*.cmem
*.elf
*.mem
*.c.o
*.c.d
*.s.o
.vscode/
virtual_prototype/systems/singleCore/sandbox/
*/*.c.o
*/*.c.d
*/*/*.c.o
*/*/*.c.d
*/*/*/*.c.o
*/*/*/*.c.d
*/*/*/*/*.c.o
*/*/*/*/*.c.d
*/*/*/*/*/*.c.o
*/*/*/*/*/*.c.d
*/*/*/*/*/*/*.c.o
*/*/*/*/*/*/*.c.d
*.i
*.s
